body {
    background-color: #3D087B;
    overflow-x: hidden;
    
}

.main {

    position: relative;

}

/*-----------1st picture of clock-----------*/

.clock {
    position: absolute;
    left: 70px;
    top: 20px;
}



/*---2nd picture clock---*/


.cont {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 520px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #8A11BF;
    font-size: 30px;
    align-items: center;
    float: right;
    position: absolute;
    left: 675px;
    top: 40px;

}

.t {
    text-align: center;
    background-color: #F6E2FF;
    height: 70px;
    width: 70px;
}

#t1 {
    background-color: #FFFFFF;
    /*margin-top: 20px;*/

}

#t5 {
    background-image: url("/ampm.svg");
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: #FFFFFF;
    color: #8A11BF;
    font-size: 40px;
}

.z {
    width: 420px;
    height: 100px;
    background-color: #e8e6eb;
    border: 1px solid rgb(141, 133, 148);
    border-radius: 10px;
    position: absolute;
    left: 720px;
    top: 55px;
    z-index: -1;
}

.z1 {
    background-color: #693e9bde;
    width: 370px;
    height: 100px;
    border: 1px solid #612f9b;
    border-radius: 10px;
    position: absolute;
    left: 740px;
    top: 70px;
    z-index: -2;
}

/* 3rd picture ----*/
.food {
    position: absolute;
    top: 170px;
    right: 80px;
}

.food h3 {
    background-color: #FFFFFF;
    height: 50px;
    width: 495px;
    text-align: center;
    color: #8E53F0;
    padding: 20px;
    border: 2px solid #EDEDED;
    border-radius: 10px;
    font: normal normal 900 25px/35px Bauhaus Hv BT;

}

/* 4th picture wake up time*/
.alarm {
    height: 350px;
    width: 540px;
    background-color: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 15px;
    position: absolute;
    left: 80px;
    top: 130px;


}


#line {
    position: relative;
    top: 40px;
    color: #8A11BF;
    left: 25px;
    font-size: 35px;
    font-weight: bolder;
    margin: auto;
}

select {
    border-color: #8E53F0;
}

#wake {
    position: relative;
    top: 35px;
    left: 10px;
}

#wake1 {
    position: absolute;
    left: 80px;
    color: #3D087B;
    font-size: 25px;
}

#wake2 {
    position: absolute;
    left: 300px;
    height: 30px;
    width: 170px;
    text-align: center;
    color: #3D087B;
    font-size: 15px;

}

#lunch {
    position: relative;
    top: 40px;
    left: 10px;
}

#lunch1 {
    position: absolute;
    left: 80px;
    color: #3D087B;
    font-size: 25px;
}

#lunch2 {
    position: absolute;
    left: 300px;
    height: 30px;
    width: 170px;
    text-align: center;
    color: #3D087B;
    font-size: 15px;

}

#nap {
    position: relative;
    top: 50px;
    left: 10px;
}

#nap1 {
    position: absolute;
    left: 80px;
    color: #3D087B;
    font-size: 25px;
}

#nap2 {
    position: absolute;
    left: 300px;
    height: 30px;
    width: 170px;
    text-align: center;
    color: #3D087B;
    font-size: 15px;

}

#night {
    position: relative;
    top: 60px;
    left: 10px;
}

#night1 {
    position: absolute;
    left: 80px;
    color: #3D087B;
    font-size: 25px;
}

#night2 {
    position: absolute;
    left: 300px;
    height: 30px;
    width: 170px;
    text-align: center;
    color: #3D087B;
    font-size: 15px;

}

#nimg {
    height: 30px;
    width: 30px;
}


/*5th image balcony*/
.balcony {
    position: absolute;
    top: 300px;
    right: 80px;
}



/*--6th picture morning*/
.mrng {
    position: absolute;
    top: 500px;
    left: 80px;
}

.mrng h3 {
    background-color: #693e9bde;
    height: 55px;
    width: 520px;
    border: 2px solid #693e9bde;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    font: normal normal 900 27px/34px Bauhaus Hv BT;

}

/*7th picture*/
.set {
    height: 50px;
    width: 230px;
    background-image: linear-gradient(to right, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid #6E54EC;
    border-radius: 4px;
    position: absolute;
    left: 80px;
    top: 620px;
}



.set:hover {
    background-image: linear-gradient(to left, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
}

.set::before {
    content: "Set Alarm";
}

.set:hover::before {
    display: none;
}

.set:hover::after {
    content: "party time";
}



/*8thpicture*/
.alert {
    position: relative;
    height: 130px;
    width: 260px;
    left: 360px;
    top: 620px;
    background-color: #cf8fea;
    border-radius: 10px;
}

#alt1 {
    text-align: center;
    font-weight: bolder;
    color: #9e10d1
}

#alt2 {
    text-align: center;
    font-weight: bolder;
    color: #9e10d1
}

#alt3 {
    text-align: center;
    font-weight: bolder;
    color: #9e10d1
}

#alt4 {
    text-align: center;
    font-weight: bolder;
    color: #9e10d1
}
